# Google Gemini API Configuration for History Arena PRO
# Google AI Studio API kalitini bu yerga yozing:
VITE_GEMINI_API_KEY=YOUR_GEMINI_API_KEY_HERE

# Text Model:
VITE_GEMINI_TEXT_MODEL=gemini-3.8-flash

# Audio Model:
VITE_GEMINI_AUDIO_MODEL=gemini-2.5-flash-native-audio-latest
